<div class="werkstatt-container">
  <h2>Werkstatt</h2>
  <button (click)="addRaum()">+ Raum hinzufügen</button>
  <button (click)="addArbeitsplatz()">+ Arbeitsplatz hinzufügen</button>

  <div>
    <div
      *ngFor="let raum of raeume"
      class="raum-container"
      cdkDropList
      id="raeume"
      [attr.data-raum-id]="raum.id"
      [cdkDropListConnectedTo]="['tische']"
      (cdkDropListDropped)="dropTisch($event)"
    >
      <app-raum [tische]="raum.tische" [raumId]="raum.id"></app-raum>
    </div>

    <div
      #tischPool
      class="tisch-pool"
      cdkDropList
      id="tische"
      [cdkDropListConnectedTo]="['raeume']"
      (cdkDropListDropped)="dropTisch($event)"
    >
      <div
        #tisch
        *ngFor="let tisch of tischePool"
        cdkDrag
        [cdkDragData]="tisch"
        class="tisch"
      >
        <app-arbeitsplatz [tisch]="tisch"></app-arbeitsplatz>
      </div>
    </div>
  </div>
</div>
